@model IEnumerable<ResumeSite.Data.Entities.Admin>

@{
    ViewData["Title"] = "مدیریت مدیران";
}


<p>
    <a asp-action="Add">افزودن</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecoundPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecoundPassword)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                <form method="Post" asp-action="Delete">
                    <input value="@item.Id" type="hidden" name="id" />
                    <input type="submit" value="حذف" />
                </form> |
            </td>
        </tr>
}
    </tbody>
</table>
